{% extends "blog/base.html" %}
{% block title %} Home DSRML  {% endblock %}

{% block content-header %}
<h1>
	Dashboard
	<small>Home</small>
</h1>
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
</ol>
{% endblock %}

{% block content %}


   <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-5 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        {{nbStore}}
                                    </h3>
                                    <p>
                                        AFS@Store
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-5 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        {{nbFT}}
                                    </h3>
                                    <p>
                                        FluidTopics
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-android-book"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-5 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        {{nbAFS}}
                                    </h3>
                                    <p>
                                        AFS
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-search"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-5 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        {{nbLicence}}
                                    </h3>
                                    <p>
                                        Licence
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-android-storage"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->








{% for service in all_services %}
	<div class="service">
		
		<h3>{{service.nom}} <small>{{service.status}}</small></h3>
	
		<blockquote>
		
			<p><footer>><a href="{% url "blog.views.lire" service.id %}">lire la suite</a></footer</p>
	
		</blockquote>
		
	</div>
{% empty %}
	<p>Aucun service dans la base.</p>
	
{% endfor %}


<h2>Liste de Indexeurs
{% for serv in servs %}
	<div class="indexeur">
		
		<h5>{{serv.nom}} </h5>
	
		<blockquote>
		
			<p><footer>><a href="{% url "blog.views.indexeur" serv.id %}">lire la suite</a></footer</p>
	
		</blockquote>
		
	</div>
{% empty %}
	<p>Aucun Indexeur dans la base.</p>
	
{% endfor %}
</h2>

{% endblock %}